* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.background {
    background: white;
    width:100%;
    height:100vh;
    
}

.lap-1 {
    background: white;
    backdrop-filter: blur(10px);
    width:100%;
    height:40px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

    .lap-1 div {
        color: black;
        font-family: 'poppins', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: 0.3s;
    }

        .lap-1 div:hover {
            color: #ff4d6d;
            text-shadow: 0 0 10px rgba(255, 77, 109, 0.5);
        }

.lap-2 {
    background: grey;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

        .fav-3 {
            width: 100%;
            height: 100hv;
            object-fit: cover;
            display:flex;  
        }

    .lap-21 {
        background: yellow;
        width: 255px;
        height: 300px;

    }

.lap-3 {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.3);
    width: 85%;
    max-width: 800px;
    margin: 50px auto;
    height: 500px;
    gap: 10px;
    padding: 50px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: transform 0.3 ease;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'dancing script', cursive;
    -webkit-text-stroke: 1px #272626;
    font-weight: bold;
    line-height: 1.7;
    color: white;
}


       .lap-3:hover {
        transform: translateY(-10px)

       }

